name: Build & Push Image to GHCR

on:
  push:
    branches: ["master"]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: html-openshift-app

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./DOCKERFILE
          push: true
          tags: |
            ${{ env.REGISTRY }}/eldi-syla/6.2/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/eldi-syla/6.2/${{ env.IMAGE_NAME }}:${{ github.sha }}
